html {
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  color: #EFEFEF;
  align-content: center;
}

body {
  margin: auto;
  text-align: center;
  position: relative;
}

.container {
  margin: auto;
  padding-top: 20vh;
  width: 70vw;
  height: 50vh;
  position: relative;
  text-align: center;
  /*background: rgba(50,100,50,0.5);*/
}

h1{
  font-size: 6em;
  font-weight: 100;
}

h2{
  font-size: 3em;
  font-weight: 100;
}

.post-thumb {
    float: left;
}
.post-thumb img {
    display: block;
    padding-top: 50%;
}

#face-pic{
  margin-top: -33%;
  margin-left: 50%;
  width: 17vw;
}

.post-content {
    margin:auto;
    /*margin-left: 17vw;*/
}

#links{
  width: 60%;
  height: 35vh;
  margin-top: 15vh;
  margin-left:15vw;
  display: flex;
}
.circle{
  flex: 1;
  width: 15vw;
  height: 50vw;
  border: solid 0.4vw #26323A;
  border-radius: 15vw;
  margin-left: 2.5vw;
  display: block;
}

.circle:hover{
  /*border: solid 0.4vw rgba(255,255,255,0.4);*/
  animation: border-pulse 1s;
}

.red{
  background: #9F4A56;
}

.orange{
  background:#9F694A;
}

.yellow{
  background: #979F4A;
}

.green{
  background: #4A9F4A;
}

.blue{
  background: #4A7D9F;
}

.flex-container{
  display: flex;
  width: 100%;
  padding: 0vw 5vw 0vw 5vw;
  margin: 0vh 0vw 0vh -5vw;
  height: 6vw;
  align-items: center;
  justify-content: center;
}

@keyframes border-pulse {
  0% { border-color: rgba(255, 255, 255, 0); }
  /*50% {border-color: rgba(255, 255, 255, 0.5);}*/
  100% {border-color: rgba(255, 255, 255, 1);}
}

@keyframes spin { 
  100% { 
    transform: rotateX(360deg);
  }
}

@keyframes t{
  0%{margin: .2vw;}
  100%{margin: .2vw 1vw .2vw 1vw;}
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}