html {
  background: #111111;
  font-family: 'Montserrat', sans-serif;
  color: #EFEFEF;
  align-content: center;
}


body {
  margin: auto;
  text-align: center;
  position: relative;
}

a{
  color: #4787DE;
}

p{
  line-height:200%;
  text-align: left;
  margin:auto;
  width: 80%;
}

.loadCont {
  margin: 10%;
}

.loader {
  margin: auto;
  border: 16px solid lightblue;
  border-top: 16px solid #ff8080;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


.preload{
  visibility: hidden;
}

.container {
  background: #222222;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-top: 2vh;
  padding-bottom: 5vh;
  width: 70vw;
  position: relative;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.section-title{
  margin-top: 5vh;
  margin-bottom: 4vh;
  position: relative;
  right: 20vw;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  padding: 0vw 5vw 0vw 5vw;
  margin: 5vh 0vw 0vh -5vw;
  align-items: center;
  justify-content: center;
}
input{
  color:red;
  background: blue;
}

.flex-child{  
  height: 2vw;
  border: .5vw solid transparent;
  margin: .2vw;
  line-height: 1em;
  
  font-weight: bold;
}

.flex-text{
  margin-top: 0;
  font-size: 1vw;
  position: relative;
}

.flex-child:hover{
  border-width: .5vw;
}

.wide-child{
  width: 8vw;
  min-width: 100px;
  color: black;
}

.wide-child:hover{
  margin: .2vw 1.5vw .2vw 1.5vw;
  animation: pad-grow 1s;
}

.tall-child{
  width: 90%;
  color:black;  
}

.tall-child:hover{
  animation: border-pulse 1s infinite;
}

.display-div{
  margin: auto;
  padding: 15px 0px 15px 0px;
  width: 69vw;
  height: auto;
  background: #1C1C1C;
}

b{
  color: #83E7EA;
}


@keyframes border-pulse {
  0% { border-color: rgba(255, 255, 255, 0); }
  50% {border-color: rgba(255, 255, 255, 1);}
  100% {border-color: rgba(255, 255, 255, 0);}
}

@keyframes pad-grow{
  0%{margin:.2vw;}
  100%{margin: .2vw 1.5vw .2vw 1.5vw;}
}

}

.light-red{
  background: #EF6D56;
}
.red{
  background: #E14526;
}

.dark-red{
  background: #AF331D;
}

.orange{
  background:#E19726;
}
.yellow{
  background: #EBE83A;
}
.green{
  background: #32DB41;
}

.light-blue{
  background: #80B1F2;
}
.blue{
  background: #4787DE;
}
.dark-blue{
  background: #33609B;
}
.violet{
  background: #7747DE;
}

.light-greyblue{
  background: #B7D3F7;
}.greyblue{
  background: #92B2DB;
}.dark-greyblue{
  background: #6D8AAD;
}

.light-greyred{
  background: #F78C79;
}.greyred{
  background: #ED6249;
}.dark-greyred{
  background: #D35039;
}